<template>
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a
        href="/"
        class="d-flex align-items-center text-dark text-decoration-none"
      >
        <span class="fs-4">News API </span>
      </a>
      <a
        href="#"
        class="
          d-flex
          align-items-center
          text-dark text-decoration-none
          ml-auto
          btn btn-info
        "
        data-toggle="modal"
        data-target="#loginModal"
        v-if="!authenticated"
      >
        <span class="fs-4">Login</span>
      </a>
      <a
        href="#"
        class="
          d-flex
          align-items-center
          text-dark text-decoration-none
          ml-auto
          btn btn-info
        "
        v-else
        @click="logout()"
      >
        <span class="fs-4">Logout</span>
      </a>
    </header>

    <main>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="source-tab"
            data-toggle="tab"
            href="#source"
            role="tab"
            aria-controls="source"
            aria-selected="true"
            >News By Source</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="country-tab"
            data-toggle="tab"
            href="#country"
            role="tab"
            aria-controls="country"
            aria-selected="false"
            >News By Country</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="source"
          role="tabpanel"
          aria-labelledby="source-tab"
        >
          <news-by-source :authenticated="authenticated"></news-by-source>
        </div>
        <div
          class="tab-pane fade"
          id="country"
          role="tabpanel"
          aria-labelledby="country-tab"
        >
          <news-by-country :authenticated="authenticated"></news-by-country>
        </div>
      </div>
    </main>
    <login @loggedIn="authenticate()"></login>
    <register></register>
  </div>
</template>

<script>
import NewsBySource from "./NewsBySource.vue";
import NewsByCountry from "./NewsByCountry.vue";
import Login from "./Login.vue";
import Register from "./Register.vue";
export default {
  data() {
    return {
      authenticated: false,
    };
  },
  methods: {
    authenticate() {
      this.authenticated = true;
    },
    logout() {
      window.axios
        .get("api/auth/logout", {
          headers: {
            Accept: "application/json",
            Authorization: "Bearer " + localStorage.access_token,
          },
        })
        .then((response) => {
          localStorage.removeItem("access_token");
          this.authenticated = false;
        });
    },
  },
  created() {
    if (localStorage.access_token) {
      console.log(localStorage.access_token);
      this.authenticated = true;
    }
  },
  components: {
    NewsBySource,
    NewsByCountry,
    Login,
    Register,
  },
};
</script>
