<template>
  <div class="card">
    <div class="card-header" :id="'heading' + id">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          :data-target="'#' + id"
          aria-expanded="false"
          :aria-controls="id"
          @click="updateImpressionCount()"
        >
          {{ article.title }}
        </button>
      </h5>
    </div>
    <div
      :id="id"
      class="collapse"
      :aria-labelledby="'heading' + id"
      data-parent="#accordion"
    >
      <img
        class="card-img-top"
        :src="article.urlToImage"
        alt="Card image cap"
      />
      <div class="card-body">
        <div v-if="authenticated">
          <span>
            <button class="btn btn-success" @click="toggleImpression('like')">
              <i :class="computeLike" class="fa-thumbs-up mr-2"></i>
              {{ impression.like }}
            </button>
          </span>
          <span>
            <button class="btn btn-info" @click="toggleImpression('dislike')">
              <i :class="computeDislike" class="fa-thumbs-down"></i>
              {{ impression.dislike }}
            </button>
          </span>
        </div>
        <div v-else>
          <button
            class="btn btn-success"
            data-toggle="modal"
            data-target="#loginModal"
          >
            Login To Add Impression
          </button>
        </div>
        {{ article.description }}
        <p>
          {{ article.content }}
          <a target="_blank" :href="article.url">Read More</a>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["article", "id", "authenticated"],
  data() {
    return {
      impression: { like: 0, dislike: 0 },
      userImpression: "",
    };
  },
  methods: {
    toggleImpression(impression) {
      window.axios
        .post(
          "api/toggle-impression",
          {
            impression: impression,
            url: this.article.url,
          },
          {
            headers: {
              Accept: "application/json",
              Authorization: "Bearer " + localStorage.access_token,
            },
          }
        )
        .then((response) => {
          this.updateImpressionCount();
        });
    },
    updateImpressionCount() {
      window.axios
        .post(
          "api/impression-count/",
          { url: this.article.url },
          {
            headers: {
              Accept: "application/json",
            },
          }
        )
        .then((response) => {
          this.impression = response.data.count;
          if (this.authenticated) this.checkUserImpression();
        });
    },
    checkUserImpression() {
      window.axios
        .post(
          "api/user-impression",
          {
            url: this.article.url,
          },
          {
            headers: {
              Accept: "application/json",
              Authorization: "Bearer " + localStorage.access_token,
            },
          }
        )
        .then((response) => {
          this.userImpression = response.data.impression;
        });
    },
  },
  computed: {
    computeLike() {
      return this.userImpression == "like" ? "fas" : "far";
    },
    computeDislike() {
      return this.userImpression == "dislike" ? "fas" : "far";
    },
  },
};
</script>
