<template>
  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="performLogin">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                v-model="login.email"
              />
            </div>
            <div class="form-group">
              <label for="passsword">Password</label>
              <input
                type="password"
                class="form-control"
                id="passsword"
                placeholder="Password"
                v-model="login.password"
              />
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="rememberMe"
                v-model="login.remember"
              />
              <label class="form-check-label" for="rememberMe"
                >Remember Me</label
              >
            </div>
            <button type="submit" class="btn btn-primary mx-auto">
              Submit
            </button>
            <p>
              Don't Have Account?
              <a
                href="#"
                data-toggle="modal"
                data-target="#registerModal"
                data-dismiss="modal"
                >Register.</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      login: {},
    };
  },
  methods: {
    performLogin() {
      window.axios
        .post("api/auth/login", this.login)
        .then((response) => {
            $('#loginModal').modal('hide');
            localStorage.access_token=response.data.access_token;
            this.$emit('loggedIn');
        })
        .catch((error) => console.log(error))
        .finally(() => (this.loading = false));
    },
  },
};
</script>
