<template>
  <div>
    <div class="row mb-2 mt-4">
      <div class="col-md-6 mb-2">
        <select
          class="form-select"
          @change="countryChanged()"
          v-model="selectedCountry"
        >
          <option v-for="country in countries" v-bind:value="country">
            {{ country }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-10"
        v-for="(article, key) in articlesByCountry"
        :key="key"
      >
        <headline :article="article" :id="'country' + key"  :authenticated="authenticated"></headline>
      </div>
      <div class="col-md-12" v-if="countryNewsPage != 0">
        <button class="btn btn-primary" @click="loadMoreNewsByCountry">
          Load More
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Headline from "./Headline.vue";

export default {
  props:['authenticated'],
  data() {
    return {
      articlesByCountry: [],
      countries: [
        "ae",
        "ar",
        "at",
        "au",
        "be",
        "bg",
        "br",
        "ca",
        "ch",
        "cn",
        "co",
        "cu",
        "cz",
        "de",
        "eg",
        "fr",
        "gb",
        "gr",
        "hk",
        "hu",
        "id",
        "ie",
        "il",
        "in",
        "it",
        "jp",
        "kr",
        "lt",
        "lv",
        "ma",
        "mx",
        "my",
        "ng",
        "nl",
        "no",
        "nz",
        "ph",
        "pl",
        "pt",
        "ro",
        "rs",
        "ru",
        "sa",
        "se",
        "sg",
        "si",
        "sk",
        "th",
        "tr",
        "tw",
        "ua",
        "us",
        "ve",
        "za",
      ],
      selectedCountry: "us",
      countryNewsPage: 1,
    };
  },
  created() {
    this.updateNewsByCountry();
  },
  methods: {
    countryChanged() {
      this.countryNewsPage = 1;
      this.articlesByCountry = [];
      this.updateNewsByCountry();
    },

    loadMoreNewsByCountry() {
      this.countryNewsPage++;
      this.updateNewsByCountry();
    },

    updateNewsByCountry() {
      window.axios
        .get(
          "https://newsapi.org/v2/top-headlines?apiKey="+newsAPI+"&country=" +
            this.selectedCountry +
            "&page=" +
            this.countryNewsPage
        )
        .then((data) => {
          this.articlesByCountry.push(...data.data.articles);
          if (data.data.totalResults < 20 * this.countryNewsPage)
            this.countryNewsPage = 0;
        });
    },
  },
  components:{
    Headline
  }
};
</script>
