<template>
  <div>
    <div class="row mb-2 mt-4">
      <div class="col-md-6 mb-2">
        <select
          class="form-select"
          @change="sourceChanged()"
          v-model="selectedSource"
        >
          <option v-for="source in sources" v-bind:value="source.id">
            {{ source.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-10"
        v-for="(article, key) in articlesBySource"
        :key="key"
        id="accordion"
      >
        <headline :article="article" :id="'source' + key"  :authenticated="authenticated"></headline>
      </div>
      <div class="col-md-12 mt-2" v-if="sourceNewsPage != 0">
        <button class="btn btn-primary" @click="loadMoreNewsBySource">
          Load More
        </button>
      </div>
    </div>
  </div>
</template>
<script>

import Headline from "./Headline.vue";

export default {
  props:['authenticated'],
  data() {
    return {
      articlesBySource: [],
      sources: [],
      selectedSource: "bbc-news",
      sourceNewsPage: 1,
    };
  },
  created() {
    window.axios
      .get(
        "https://newsapi.org/v2/top-headlines/sources?apiKey="+newsAPI
      )
      .then((data) => {
        this.sources = data.data.sources;
      });
    this.updateNewsBySource();
  },
  methods: {
    sourceChanged() {
      this.sourceNewsPage = 1;
      this.articlesBySource = [];
      this.updateNewsBySource();
    },
    loadMoreNewsBySource() {
      this.sourceNewsPage++;
      this.updateNewsBySource();
    },
    updateNewsBySource() {
      window.axios
        .get(
          "https://newsapi.org/v2/top-headlines?apiKey="+newsAPI+"&sources=" +
            this.selectedSource +
            "&page=" +
            this.sourceNewsPage
        )
        .then((data) => {
          this.articlesBySource.push(...data.data.articles);

          if (data.data.totalResults < 20 * this.sourceNewsPage)
            this.sourceNewsPage = 0;
        });
    },
  },
  components:{
      Headline
  }
};
</script>