<template>
  <div
    class="modal fade"
    id="registerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  @submit.prevent="performRegister">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="emailHelp"
                placeholder="Enter Name"
                v-model="user.name"
              />
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                v-model="user.email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                v-model="user.password"
              />
            </div>
            <div class="form-group">
              <label for="password_confirmation">Password Confiramtion</label>
              <input
                type="password"
                class="form-control"
                id="password_confirmation"
                placeholder="Confirm Password"
                v-model="user.password_confirmation"
              />
            </div>
            <button type="submit" class="btn btn-primary mx-auto">
              Register
            </button>
            <p>
              Already Have An Account?
              <a href="#" data-toggle="modal" data-target="#loginModal"  data-dismiss="modal"
                >Login.</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  data(){
    return {
      user:{}
    }
  },
  methods:{
    performRegister(){
       window.axios
        .post("api/auth/register", this.user)
        .then((response) => {
            $('#registerModal').modal('hide');
            $('#loginModal').modal('show');
        })
        .catch((error) => console.log(error))
        .finally(() => (this.loading = false));
    }
  }
}
</script>
